[submodule "Mist_hashing"]
	path = Mist_hashing
	url = https://github.com/AlexSabourinDev/Mist_hashing.git
[submodule "Mist_common"]
	path = Mist_common
	url = https://github.com/AlexSabourinDev/Mist_common.git
